@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
	background-color: #212424;
	margin: 0;
	font-family: "Cabin Sketch";
	min-width: 300px;
}
.square {
	cursor: pointer;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.6666%;
	border-radius: 15%;
	transition: all 0.5s 0.05s;
}

.square:hover {
	transform: scale(1.03, 1.03);
	border-radius: 20%;
}

.container {
	padding-top: 1.5%;
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	text-align: center;
	background-color: #212424;
	color: #e1e1e1;
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
	padding: 10px 0;
	text-shadow: 0px 0px 10px #212424;
}

#color-display {
	text-transform: uppercase;
	font-size: 180%;
	transition: text 0.7s;
	letter-spacing: 3px;
	text-shadow: 0px 0px 15px #212424;
}

#stripe {
	padding-left: 5%;
	background-color: #212424;
	height: 30px;
	text-align: center;
	color: #212424;
}

button:hover, .selected {
	color: #212424;
	background-color: #e1e1e1;
}

button {
	border: none;
	background: none;
	height: inherit;
	font-weight: 500;
	color: #e1e1e1;
	font-family: inherit;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s 0.05s;
	outline: none;
	border-radius: 5px;
}

#message {
	display: inline-block;
	width: 15%;
	font-size: inherit;
	color: #e1e1e1;
	font-family: "Cabin Sketch";
	transition: all 0.5s;
}